# backend/wrangler.toml
name = 'medium-backend'
compatibility_date = "2023-12-01"

[vars]
DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMzE2NTk1NTAtYTNlMi00YTJiLTkwZmEtYWYwNDkzMzg2Nzk5IiwidGVuYW50X2lkIjoiOTdhYTVmMjc3YTNjZGE2ZWFkMzgyOWFiNTIwNDQ3MGMzN2E5N2Q5MzNlY2U2MWViN2Q0NTRmZDI4OGU2YWIxYyIsImludGVybmFsX3NlY3JldCI6ImU4OGI3MDAzLTk0M2MtNGFhNS05ZjdlLTU2MzQ0NmM2YTYxZSJ9.ISGcp5qrA96tUK7zoOa42WPzF_uuJ45VwC_frh23NHs"

JWT_SECRET = "TOPSECRETCODE"

# MY_VAR = "my-variable"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

# [ai]
# binding = "AI"